<form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">

    <a href="{{ path('contact_index') }}" class="ui button">Back to list</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="ui button">Edit</a>
    
    <button class="ui red button">Delete</button>
</form>
